# Built application files
*.apk
*.ap_
*.aab
*.dex

# Gradle files
.gradle/
build/

# Local configuration file (e.g., proguard-rules.pro)
proguard-rules.pro

# Android Studio
*.iml
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.suo
*.user
*.userosscache
*.suo
*.sln.docstates

# OS-specific files
.DS_Store
Thumbs.db

# User-specific files
.gradle/
.idea/
